<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Investube.mvc.model.dao.UserDao">

	<select id="login" parameterType="User" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id}
		AND password = #{password}
	</select>
	
	<select id="selectAll" resultType="User">
		SELECT *
		FROM users
		ORDER BY user_id DESC
	</select>

	<select id="selectById" parameterType="String" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>

	<select id="selectByUserId" parameterType="int"
		resultType="User">
		SELECT *
		FROM users
		WHERE user_id = #{userId}
	</select>
	
	<insert id="insert" parameterType="User">
		INSERT INTO users (id, password, email, nickname, profile_image)
		VALUES (#{id}, #{password}, #{email}, #{nickname}, #{profileImage})
	</insert>

	<update id="updateMyInfo" parameterType="User">
		UPDATE users
		<set>
			<if test="nickname != null and nickname != ''">
				nickname = #{nickname},
			</if>
			<if test="profileImage != null">
				profile_image = #{profileImage},
			</if>
		</set>
		WHERE user_id = #{userId}
	</update>

	<update id="updatePassword">
		UPDATE users
		SET password = #{password}
		WHERE user_id = #{userId}
	</update>

	<update id="deleteProfileImage" parameterType="int">
		UPDATE users
		SET profile_image = NULL
		WHERE user_id = #{userId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM users
		WHERE user_id = #{userId}
	</delete>

</mapper>
